.lista-producto{
    height: 50vw;
    margin: 3em;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.agregar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
