.nav{
    background-color: #30343f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    font-family: "Roboto";
}
.logo{
    width: 20vw;
    padding-left: 1.5em;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color:white;
}

.algo{
    display: flex;
    width: 20vw;
    justify-content: space-between;

}
/* color del logo de funko #ff4848       */